.dark {
	background-color: #0c0f15;
	.page-home .overlay {
	  	background-color: rgba(#0e1118, $overlay-bg-opacity-dark);
	}
	.page-title {
		h2 {
	  		color: #ffffff;
	  	}
		p {
			color: rgba($light, 0.27) ;
		}
	  	.title-bg {
	  		color: rgba(#46587c, 0.09);
	  	}
	}
	.section-title h3::before {
	  	background-color: #fff;
	}
	h1, h2, h3, h4, h5, h6,
	.about-author .author-desc p {
	  	color: #fff;
	}
	.service-hex {
		.st0 {
	  		fill: transparent;
	  	}
	  	&:hover {
	  		.st0 {
	  	  		fill: #fff;
	  	  	}	
	  	}
	}
	.testimonials .text,
	.btn-border {
	  	border-color: $light-dark;
	}
}